*.tlog
*.idb
*.res
*.map
*.log
*.pdb
*.bsc
*.ini
*.lastbuildstate
*.unsuccessfulbuild
KnightOnline.VC.VC.opendb
KnightOnline.VC.db
*.opendb
*.sdf
*.obj
ipch/
data/
*.pch
*.exe
*.ilk
.DS_Store
*.ipdb
*.iobj
*.db
*.sbr
*.lib
*.rej
.vs/
enc_temp_folder/
Client/N3Base/Tool_Release/N3Base_tool.lib
ItemEditor/Item/
ItemEditor/Item_old/
ItemEditor/Item_output/
ItemEditor/UI/
ItemEditor/Object/
ItemEditor/Debug/ItemEditor.lib
ItemEditor/Release/ItemEditor.lib
*.o
*.dSYM
*.exp
*.suo
/ItemEditor/include/glm/out/build/x64-Debug
Debug/
Release/
/N3Base/lib
bin/
Client/data/Log.txt
Client/data/*.exe
*.aps